<p-toast></p-toast>
<div class="overflow-hidden">

  <p-card class="flex justify-center" [style]="{ width: '30rem', overflow: 'hidden' }">
    <ng-template #header>
      <div class="flex justify-center imageContainer">
        <img (click)="inpCoverRef.click()" [src]="coverImageSignal()" width="200px" height="300px" alt="coverImage">
      </div>
      <input hidden type="file" accept="image/*" (change)="addCover($event)" #inpCoverRef/>
    </ng-template>
    <form>
      <div class="edit-book">
        <p-fluid>
          <p-floatlabel variant="on" class="mt-4">
            <input id="author" type="text" pInputText name="author"
              required minlength="4"
              [ngModel]="bookModel.author"/>
            <label for="author">Author</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="mt-4">
            <input id="title"
              required
              minlength="4"
              type="text" pInputText  name="title"
              [ngModel]="bookModel.title"
            />
            <label for="title">Title</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="mt-4">
            <input id="price"
             type="text" pInputText  name="price"
             required
             [ngModel]="bookModel.price"
            />
            <label for="price">Price</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="mt-4">
              <p-select
                class="w-full"
                id="genre"
                appendTo="body"
                [options]="genres"
                optionLabel="name"
                optionValue="id"
                name="genreId"
                [ngModel]="bookModel.genre.id"
              />
              <label for="genre">Genre</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="mt-4">
            <p-select
              class="w-full"
              id="cover"
              appendTo="body"
              [options]="coverDropdownOptions"
              name="cover"
              [ngModel]="bookModel.cover"
              required
              minlength="4"
            />
            <label for="cover">Cover</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="mt-4">
            <input id="book-number"
              required
              [ngModel]="bookModel.numberOfBooks"
              type="text" pInputText
              name="numberOfBooks"
            />
            <label for="book-number">Number Of Books</label>
          </p-floatlabel>

        </p-fluid>
        <br />
        <div>
          <p-button (click)="editBook()" label="edit book" class="ui-button-rounded" severity="warning"></p-button>
        </div>
      </div>
    </form>
  </p-card>
</div>


