<div class="flex justify-content-center">
  <p-panel header="ADD BOOK" [style]="{width: '400px'}" class="p-fluid">
    <div class="p-float-label mb-4">
      <input id="author" #authorRef (keyup)="checkInput($event, authorRef)" pInputText
      [(ngModel)]="bookRequestModel.author" name="author" required/>
      <label for="author">Author</label>
    </div>

    <div class="p-float-label mb-4">
      <input id="title" #titleRef (keyup)="checkInput($event, titleRef)"  pInputText [(ngModel)]="bookRequestModel.title" name="title" required/>
      <label for="title">Title</label>
    </div>

    <div class="p-float-label mb-4">
      <input type="number" id="price" #priceRef (keyup)="checkInput($event, priceRef)" pInputText [(ngModel)]="bookRequestModel.price" name="price" required/>
      <label for="price">Price</label>
    </div>

    <div class="p-float-label mb-4">
      <p-dropdown
        [options]="genres"
        [autoDisplayFirst]="false"
        optionLabel="name"
        optionValue="id"
        id="genre"
        appendTo="body"
        ngModel
        (ngModelChange)="bookRequestModel.genreId = $event"
      />
      <label for="genre">Genre</label>
    </div>


    <div class="p-float-label mb-4">
      <p-dropdown
        [options]="coverDropdownOptions"
        [autoDisplayFirst]="false"
        id="cover"
        appendTo="body"
        ngModel
        (ngModelChange)="bookRequestModel.cover = $event"
      />
      <label for="cover">Cover</label>
    </div>


    <div class="p-float-label mb-4">
      <input type="number" id="book-number" #numberOfBooksRef (keyup)="checkInput($event, numberOfBooksRef)" pInputText [(ngModel)]="bookRequestModel.numberOfBooks" name="numberOfBooks" required/>
      <label for="book-number">Number Of Books</label>
    </div>

    <div class="input-group">
      <p-button (click)="addBook()"  type="button" label="add book" class="button-rounded"></p-button>
    </div>
  </p-panel>
</div>
