<div class="flex justify-center">
  <p-panel header="ADD BOOK" [style]="{width: '600px'}">
    <form>
      <p-fluid>

        <p-floatlabel variant="on" class="mt-4">
          <input id="author" #authorRef="ngModel" (keyup)="checkInput($event, authorRef)" pInputText
                 [(ngModel)]="bookRequestModel.author" name="author" [required]="true"/>
          <label for="author">Author</label>
        </p-floatlabel>

        <p-floatlabel variant="on" class="mt-4">
          <input id="title" #titleRef (keyup)="checkInput($event, titleRef)" pInputText
                 [(ngModel)]="bookRequestModel.title" name="title" required/>
          <label for="title">Title</label>
        </p-floatlabel>

        <p-floatlabel variant="on" class="mt-4">
          <input type="number" id="price" #priceRef (keyup)="checkInput($event, priceRef)" pInputText
                 [(ngModel)]="bookRequestModel.price" name="price" required/>
          <label for="price">Price</label>
        </p-floatlabel>

        <p-floatlabel variant="on" class="mt-4" ngModelGroup="genreRequest">
          <p-select
            class="w-full"
            [options]="genres"
            optionLabel="name"
            optionValue="id"
            id="genre"
            appendTo="body"
            [ngModel]="null"
            (ngModelChange)="bookRequestModel.genreId = $event"
            name="id"
          />
          <label for="genre">Genre</label>
        </p-floatlabel>


        <p-floatlabel variant="on" class="mt-4">
          <p-select
            class="w-full"
            [options]="coverDropdownOptions"
            [autoDisplayFirst]="false"
            id="cover"
            appendTo="body"
            ngModel
            (ngModelChange)="bookRequestModel.cover = $event"
            name="cover"
          />
          <label for="cover">Cover</label>
        </p-floatlabel>

        <p-floatlabel variant="on" class="mt-4">
          <input type="number" id="book-number" #numberOfBooksRef (keyup)="checkInput($event, numberOfBooksRef)"
                 pInputText [(ngModel)]="bookRequestModel.numberOfBooks" name="numberOfBooks" required/>
          <label for="book-number">Number Of Books</label>
        </p-floatlabel>
      </p-fluid>
      <div class="mt-4">
        <p-button (click)="addBook()" type="button" label="add book" class="button-rounded"></p-button>
      </div>
    </form>
  </p-panel>
</div>
