<p-panel header="Promotions">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Books</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p class="m-0">
          <p-table [value]="$promotions | async">
            <ng-template #header>
              <tr>
                <th>Book title</th>
                <th>Author</th>
                <th>Genre name</th>
                <th>Active</th>
                <th>Price</th>
                <th>New price</th>
                <th>Discount price</th>
                <th>Start date</th>
                <th>End name</th>
                <th>Description</th>
              </tr>
            </ng-template>
            <ng-template #body let-prom>
              <tr>
                <td>{{ prom.book.title }}</td>
                <td>{{ prom.book.author }}</td>
                <td>{{ prom.book.genre.name }}</td>
                <td>{{ prom.active }}</td>
                <td>{{ prom.book.price }}</td>
                <td>{{ prom.price }}</td>
                <td>{{ prom.discountPrice }}</td>
                <td>{{ prom.startDate }}</td>
                <td>{{ prom.endDate }}</td>
                <td>{{ prom.description }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-panel>
