.footer {
  padding: 1rem;
  text-align: center;
  background-color: #f9fafb;
  border-top: 1px solid #e0e0e0;
  font-size: 0.9rem;
}

.grid {
  min-height: auto;
  display: flex;
  padding: 0 1rem;
  box-sizing: border-box;
}

.col-2 {
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  padding: 1rem;
  border-radius: 10px;
}

.col-10 {
  padding: 1rem;
}
