<p-toast position="top-right" key="app" [baseZIndex]="999999999" [autoZIndex]="true"></p-toast>

<p-toast position="top-right" [baseZIndex]="999999999" [autoZIndex]="true" />

<app-nav />

<div class="grid">

  <div class="col-2 my-2">
    <p-panelMenu  [model]="sideBarItems()" [multiple]="true"/>
  </div>

  <div class="col-10 my-2">
    <router-outlet> </router-outlet>
  </div>

</div>

<footer class="footer" [style.background]="'#f9fafb'">
  <div></div>
  <p> {{ 'Posted by: lost lost all right reserved by lost' | translate }} </p>
  <p> {{ 'Contact information' | translate }}: <a href="mailto:{{environment.contactEmail}}">{{environment.contactEmail}} </a></p>
</footer>


