.slug {
  padding-left: 20px;
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
}

.time, .lang{
  width:800px;
  float: right;
  text-align: right;
}

.time, .lang div {
  margin-top: 5px;
}


