<h1>ALL BOOKS</h1>
   <p-table [value]="books" [rows]="20" [paginator]="true">
     <ng-template pTemplate="header">
       <tr>
         <th class="text-center"><a (click)="sort('Author')">author</a></th>
         <th class="text-center"><a (click)="sort('Title')">title</a></th>
         <th class="text-center"><a (click)="sort('Price')">price</a></th>
         <th class="text-center"><a (click)="sort('Genre')">kind</a></th>
         <th class="text-center"><a (click)="sort('Cover')">cover</a></th>
         <th class="text-center"><a (click)="sort('NumberOfBooks')">numberOfBooks</a></th>
         <th class="text-center">Actions</th>
       </tr>
     </ng-template>
     <ng-template pTemplate="body" let-book>
        <tr>
          <td class="text-center">{{book.author}}</td>
          <td class="text-center">{{book.title}}</td>
          <td class="text-center">{{book.price}}</td>
          <td class="text-center">{{book.genre.name}}</td>
          <td class="text-center">{{book.cover}}</td>
          <td class="text-center">{{book.numberOfBooks}}</td>
          <td class="text-center">
            <div class="flex justify-content-between">
              <p-button icon="pi pi-pencil" severity="info"></p-button>
              <p-button icon="pi pi-trash" severity="danger"></p-button>
            </div>
          </td>
        </tr>
     </ng-template>
   </p-table>


